<div class="layout-container page-grad">
  <app-navbar 
    [items]="navItems"
    [usuarioNombre]="usuarioNombre"
    [usuarioRol]="usuarioRol"
    (logout)="onLogout()">
  </app-navbar>
  
  <div class="main-content">
    <header class="header">
      <div class="header-left">
        <h1 class="page-title">{{ title }}</h1>
      </div>
      <div class="header-actions">
        <app-theme-toggle></app-theme-toggle>
        <div class="user-info">
          <span class="user-greeting">Hola, {{ usuarioNombre }}</span>
          <span class="user-role">{{ usuarioRol }}</span>
        </div>
        <div class="user-avatar">
          {{ usuarioNombre.charAt(0).toUpperCase() }}
        </div>
      </div>
    </header>
    
    <main class="content-area">
      <ng-content></ng-content>
    </main>
  </div>
</div>

